@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
/*--------------------------General*/
body{
    background-color: #D0ECE7;
}

.general-sub{
    font-family: "Rock Salt", sans-serif;
}

p{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 20px;
}

.title{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #640e27;
}
/*--------------------------Nav*/
.navbar-brand{
    font-family: "Rock Salt", sans-serif;
    font-size: 14px;
}

.nav-item{
    font-family: "Coromorant Garamond", sans-serif;
}

.bg-color{
    background-color: #0B5345; 
}

/*----------------------Carousel*/
img{
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.container{
    position: relative;
    text-align: center;
    color: #ffffff;
    font-family: "Rock Salt", sans-serif;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration-line: underline;
}

.carousel-caption{
    font-family: "Rock Salt", sans-serif;
    font-weight: bold;
}
/*-------------------------Card*/
.hungary-card{
    background-color: #D0ECE7;
    border: 1px solid #640e27;
}

.title{
    font-family: "Rock Salt", sans-serif;
}

.card-img-top{
    width: 75%;
    height: 50%;
}

.list-group .list-group-item{
    background-color: #D0ECE7;
    font-family: "Coromorant Garamond", sans-serif;
    color: #640E27;
}

/*-------------------------Map*/
#map{
    min-height: 400px;
    margin-bottom: 20px;
}

#mapBudapest{
    min-height: 400px;
    margin-bottom: 20px;
}

/*---------------------Custom Select Menu*/
.custom-select{
    position: relative;
    font-family: "Coromorant Garamond", sans-serif;
    font-size: 18px;
    color: #ffffff;
    width: 400px;
    background-color: #640E27;
    border: 1px solid #640E27; 
}

.custom-select select{
    background-color: #640E27;
}

.select-selected{
    background-color: #0B5345;
}

.select-selected:after{
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after{
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div,.select-selected{
    color: #fff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.select-items{
    position: absolute;
    background-color: #640E27;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide{
    display: none;
}

.select-items div:hover, .same-as-selected{
    background-color: #0B5345;
}




/*------------------Footer*/

footer{
    background-color: #0B5345;
    color: #fafafa;
    margin: 0;
    min-height: 100px;   
    padding: 20px; 
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
}