@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
/*--------------------------General*/
body{
    background-color: #D0ECE7;
}

.general-sub{
    font-family: "Rock Salt", sans-serif;
}

p{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 20px;
}

.title{
    margin-top: 20px;
    margin-bottom: 20px;
}
/*--------------------------Nav*/
.navbar-brand{
    font-family: "Rock Salt", sans-serif;
    font-size: 14px;
}

.nav-item{
    font-family: "Coromorant Garamond", sans-serif;
}

.bg-color{
    background-color: #0B5345; 
}

/*----------------------Carousel*/
img{
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.container{
    position: relative;
    text-align: center;
    color: #ffffff;
    font-family: "Rock Salt", sans-serif;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration-line: underline;
}

.carousel-caption{
    font-family: "Rock Salt", sans-serif;
    font-weight: bold;
}

/*-------------------------Map*/
#map{
    min-height: 400px;
    margin-bottom: 20px;
}

/*------------------Footer*/

footer{
    background-color: #0B5345;
    color: #fafafa;
    margin: 0;
    min-height: 100px;   
    padding: 20px; 
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
}