@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*--------------------------General*/
body{
    background-color: #ffffff;
    margin: auto;
}

.general-sub{
    font-family: "Rock Salt", sans-serif;
    font-weight: 600;
}

p{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.title{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #640e27;
}
/*--------------------------Nav*/
.navbar {
    margin-bottom: 15px;
}
.navbar-brand{
    font-family: "Rock Salt", sans-serif;
    font-size: 16px;
}

.navbar-dark .navbar-brand{
    color: #640E27;
    font-weight: 600;
    
}

.navbar-dark 
.navbar-nav 
.nav-link{
    font-family: "Roboto", sans-serif;
    color: #640E27;
    font-weight: 600;
}

.bg-color{
    background: linear-gradient(to  bottom, #0b5345 0%, #ffffff 93%); 
}

/*----------------------Main head/Subheading*/
.main-heading {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: lighter;
    margin-top: 20px;
    padding-top: 5px;
    color: #640E27;
}

.main-subheading{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin: 15px;
    padding-top: 5px;
    margin-bottom: 15px;

}
/*----------------------Carousels*/
img{
    height: 500px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.container{
    position: relative;
    text-align: center;
    color: #ffffff;
    font-family: "Rock Salt", sans-serif;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 15%;
}

.carousel-caption {
    position: absolute;
    font-size: 60px;
    font-family: "Rock Salt", sans-serif;
    right: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*-------------------------Cards*/
.hungary-card{
    background-color: #ffffff;
    border: none;
}

.card-title{
    font-family: "Rock Salt", sans-serif;
    color: #640e27;
}

.card-img-hungary{
    width: 100%;
    height: 100%;
}

.card-body{
    width: max-content;
}

.list-group .list-group-item{
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #640E27;
}

.info-card{
    width: 20rem;
    height: max-content;
    background-color: #640e27;
    color: #D0ECE7;
    border-radius: .3rem;
    margin-right: 15px;
}

.card-title-info{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.list-group-item-info {
    background-color: #640e27;
    color: #D0ECE7;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-top: 2px;
}

.fa-check{
    color: #D0ECE7;
    font-size: 16px;
}

/*-------------------------Maps*/
#mapDestinations{
    min-height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342);
    border: 1px solid #0B5345;
}

#mapBudapest{
    min-height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342);
    position: relative;
}

#mapKeszthely{
    min-height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342);
}

#mapSiofok{
   min-height: 400px;
   margin-bottom: 20px;
   box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342); 
}

#mapPecs{
    min-height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342);
}

/*---------------------Dropdown Menus*/
.dropdown{
    position: relative;
    display: inline-block;
    border-radius: .3rem;
    font-family: "Roboto", sans-serif;
}

.btn:hover{
    color: #808080;
}

.btn, .btn-color{
    background-color: #640E27;
    color: #D0ECE7;
}

.btn, .btn-color .dropdown-toggle:active{
    background-color: #640E27;
    color: #fafafa;
}

.dropdown-menu{
    background-color: #D0ECE7;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #640E27;
    width: 250px;
}

.dropdown-item{
    color: #640E27;
}

.dropdown-item a:active{
    background-color: #640E27;
    color: #fafafa;
}

.dropdown-item a:hover{
    background-color: #0B5345;

}

/*------------------Footer*/

footer{
    background: linear-gradient(to top, #0b5345 0%, #ffffff 93%);
    color: #640e27;
    margin: 0;
    min-height: 100px;   
    padding: 20px; 
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
}

/*-------------------------Budapest-Page*/
#budapest{
    margin-bottom: 25px;
}

/*-------------------------Contact-Page*/
#contact{
    background: url("../images/contact-pg-image/contact-pg-img.jpg") no-repeat bottom right fixed;
    background-color: #D0ECE7;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa .fa-envelope{
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 25px;
    background-color: #0B5345;
}

.form-group{
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    right: 10px;
}

.text-input{
    color: #0B5345;
    width: 100%;
    height: 50px;
    margin: 5px;
    border: 2px solid #0B5345;
    border-radius: 2px;
}

.send-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    background-color: #0B5345;
    color: #ffffff;
}

/*--------------------About Page*/
#about-us{
    background: url("../images/about-pg-image/about-pg-img.jpg") no-repeat bottom right fixed;
    background-color: #D0ECE7;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;  
    
}

.about{
    background-color: rgba(60, 60, 60, 0.699);
}

.about h1{
    color: #a11640;
    text-shadow: 2px 2px #fafafa;
}

.text{
    color: #ffffff;
    font-size: 25px;
    line-height: 2.5rem;
    
}

.about p a{
    color: #41bda4;
}

/*-------------------------Media Queries*/
@media only screen and (max-width: 768px) {
    #about-us{
        height: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .text {
        font-size: 35px;
        line-height: 4rem;
    }

    .about h1 {
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 375px) {
    .card-body {
        width: auto;
    }
}

@media only screen and (max-width: 320px) {
    .navbar-brand {
        font-size: 12px;
    }
}
