@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/*--------------------------General*/
body{
    background-color: #ffffff;
    margin: auto;
    height: 100%;
}

.general-sub{
    font-family: "Rock Salt", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

p{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.title{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #640e27;
}

.content {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: lighter;
    padding-top: 5px;
    margin-bottom: 15px;
}

.main-heading {
    font-family: "Rock Salt", sans-serif;
    font-size: 35px;
    font-weight: lighter;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #640E27;
}

.main-subheading{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: lighter;
    margin: 15px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

.main-subheading a {
    color: #0b5345;
    font-weight: 500;
    text-decoration: underline;
}

.block-divider {
    background-color: rgba(100, 14, 38, 0.842);
    width: 300px;
}
/*--------------------------Nav*/
.navbar-brand{
    font-family: "Rock Salt", sans-serif;
    font-size: 16px;
}

.navbar-dark .navbar-brand{
    color: #640E27;
    font-weight: 600;
    
}

.navbar-dark 
.navbar-nav 
.nav-link{
    font-family: "Roboto", sans-serif;
    color: #640E27;
    font-weight: 600;
    font-size: 16px;
}

.nav-item a.active {
    color: #ffffff;
}

.bg-color{
    background: linear-gradient(to  bottom, #0b5345 0%, #ffffff 93%); 
}
/*----------------------index.html callout*/
.callout-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.39)), url("../images/index-images/hero-image.jpg");
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: transparent;
    border-radius: .3rem;    
}
.callout {
    padding: 4rem 2rem;
}
.callout-text {
    font-family: "Rock Salt", sans-serif;
    text-align: center;
    color: white;
    line-height: initial;
    text-shadow: 2px 2px #640E27;
}

.btn-color {
    background-color: #ffffff;
    color: #640E27;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
}

.btn-color:hover {
    background-color: #640E27;
    color: #ffffff;
}
/*----------------------Carousels*/
img{
    height: 50vw;    
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: scale-down;
}

.container{
    position: relative;
    text-align: center;
    color: #ffffff;
    font-family: "Rock Salt", sans-serif;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 15%;
}

.carousel-caption {
    position: absolute;
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    right: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imageCarousel {
    margin-top: 3rem;
    margin-bottom: 2rem;  
}

.keszthelyCarousel {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.budapestCarousel {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.pecsCarousel {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.siofokCarousel {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
/*-------------------------Cards*/
/*-----------------------Hungary card located on index.html*/
.hungary-card{
    background-color: #ffffff;
    border: none;
}

.card-title{
    font-family: "Rock Salt", sans-serif;
    color: #640e27;
}

.card-img-hungary{
    width: 100%;
    height: 100%;
}

.card-body{
    width: max-content;
}

.list-group .list-group-item{
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    color: #640E27;
}

/*------------------info-cards located on all location-named HTML files*/
div .info-card {
    margin-right: 0;
}

.info-card{
    width: 20rem;
    margin-top: 2.3rem;
    margin-left: 8rem;
    height: 20rem;
    background-color: #ffffff;
    color: #640e27;
    border-radius: .3rem;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0px 6px 0px rgba(100, 14, 39, 1);
    float: left;
    display: block;
}

.info-card-img-top {
    width: 3rem;
    height: 3rem;
}

.card-title-info{
    padding-top: 2rem;
    padding-left: 1rem;
    padding-bottom: .5rem;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #640e27;
}

.list-group-item-info {
    background-color: #ffffff;
    color: #640e27;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    font-size: 8px;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 1rem;
}

/*------------------------Icons*/
.fa-check{
    color: #640e27;
    font-size: 16px;
    padding-left: 0.5rem;
}

.fa-envelope {
    color: #ffffff;
    font-size: 22px;
    padding-right: 1rem;
}
/*------------------------------Search bar and infoWindows*/
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.hotelIcon {
    width: 24px;
    height: 24px;
}

.info-container {
    display: none;
}
/*-------------------------Google Codelabs Panel
Basic style rules were taken from the CSS of Google CodeLabs 'Build a nearby business search service' tutorial and additional rules were added to further style the panel.
https://developers.google.com/codelabs/maps-platform/google-maps-nearby-search-js#4
*/

#panel {
    float: left;
    height: 400px;
    background-color: #ffffff;
    position: relative;
    right: 0.5%;
    z-index: 1;
    overflow-x: hidden;
    transition: all .2s ease-out;
}

.open {
    width: 250px;
    box-shadow: -10px 0px 10px 1px rgba(0, 0, 0, 0.342);
}


.hero {
    width: 100%;
    height: auto;
    max-height: 166px;
    display: block;
}

img.hero {
    margin-top: 0;
    margin-bottom: 8px;
}

h1.place{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding-left: 18px;
    padding-right: 18px;
    color: #640e27;
}

p.details {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding-left: 18px;
    padding-right: 18px;
    color: #212529;
}

.details {
    color: #212529;
    font-size: 14px;
}

.panel-link:link, .panel-link:active {
    text-decoration: none;
    color: #0B5345;
    font-size: 12px;
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    text-align: left;
    display: inline-block;
}

.panel-link:hover, .panel-link:active {
    color: rgb(59, 223, 190);
}

/*-------------------------Maps*/
#mapDestinations{
    min-height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342);
    border: 1px solid #0B5345;
}

#mapBudapest{
    min-height: 400px;
    margin-bottom: 5rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342);
}

#mapKeszthely{
    min-height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342);
}

#mapSiofok{
   min-height: 400px;
   margin-bottom: 20px;
   box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342); 
}

#mapPecs{
    min-height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342);
}

/*------------------Footer*/

footer {
    background: linear-gradient(to top, #0b5345 0%, #ffffff 93%);
    color: #640e27;  
    position: absolute;
    width: 100%;
    height: fit-content;
    padding: 5px;   
    text-align: center; 
}

footer p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

.company-info {
    float: left;
    text-align: start;
}

.personal-info {
    text-align: end;
    color: #640E27;
}

.social-links {
    text-align: center;
}

.social-links li a i{
    padding: 12px 0;
    line-height: 7px;
    text-align: center;
    color: #640e27;
    transition: all 0.30s ease-in-out;
}

.social-links li a i:hover {
    color: #ffffff;
}

/*-------------------------Budapest-Page*/
#budapest{
    margin-bottom: 25px;
}

.budapest-section{
   margin-top: 4.5rem; 
}

/*-------------------------Keszthely-Page*/
.keszthely-section {
    margin-top: 4.5rem;
}

#keszthely {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*-------------------------Pecs-Page*/
#map-pecs {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#pecs {
    margin-top: 3rem;
    margin-bottom: 3rem;
}
/*-------------------------Siofok-Page*/
#map-siofok {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#siofok {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*--------------------------Asides*/
aside {
    width: 50%;
    padding-right: .5rem;
    padding-left: .7rem;
    margin-top: 2rem;
    margin-left: 1.5rem;
    float: right;
    box-shadow: inset 6px 0 3px -5px #640E27;
    font-style: italic;
    display: block;
}

aside p {
    font-size: 25px;
}
/*-------------------------Location-options-group*/
.location-options-group {
    justify-content: center;
    display: flex;
}
.location-card {
    width: 25%;
    background-color: #ffffff;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 10px;
    box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.219);
    position: relative;
    transition: 0.3s;
}

.location-card:hover {
    box-shadow: 4px 4px 2.5px rgba(0, 0, 0, 0.219);
    transform: scale(1.1);

}

.location-card-title {
    color: #640e27;
    font-family: "Rock Salt", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.location-card-text {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    color: #640e27;
}

.location-card-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/*-------------------------Contact-Page*/
#contact{
    background: url("../images/contact-pg-image/contact-pg-img.jpg") no-repeat bottom right fixed;
    background-color: #D0ECE7;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contactForm h3 {
    font-family: "Roboto", sans-serif;
}

.form-group{
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    right: 10px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.text-input{
    color: #0B5345;
    width: 100%;
    height: 50px;
    margin: 5px;
    border: 2px solid #0B5345;
    border-radius: 2px;
}

.send-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    background-color: #0B5345;
    color: #ffffff;
}

.ui-widget-overlay {
    background-color: #000;
    background-color: rgba(60, 60, 60, 0.842);
    transition: 0.5s;
}

#customalert {
    background: rgba(11, 83, 69, 1);
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}

.ui-dialog-title {
    font-family: "Rock Salt", sans-serif;
    color: #640E27;
    font-size: 20px;
    background: #0B5345;
    text-shadow: 1px 1px #ffffff;
    text-align: center;
}

.ui-dialog .ui-dialog-titlebar{
    background: #0B5345;
}

#customalert
.ui-dialog.titlebar
.ui-widget-header {
    color: #0B5345;
    border: 1px solid #808080;
}

.ui-widget
.ui-widget-content {
    border-color: #838383;
}

.ui-corner-all
.ui-corner-bottom
.ui-corner-top
.ui-corner-left
.ui-corner-right
.ui-corner-tr
.ui-corner-tl
.ui-corner-br
.ui-corner- {
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
}

#customalert #closeAlert {
    text-align: right;
    justify-items: right;
    color: #ffffff;
    background: #640E27;
    font-size: 18px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-top: 8px;
    padding: 5px 15px;
    display: inline-block;
    transition-duration: 0.4s;
}

#customalert #closeAlert:hover {
    background-color: #a71741;
}

.ui-dialog-titlebar-close {
    display: none;
}

#customalertheader {
    font-family: "Rock Salt", sans-serif;
    font-size: 18px;
    padding: 10px;
    color: #640E27;
}

/*--------------------About Page*/
#about-us{
    background: url("../images/about-pg-image/about-pg-img.jpg") no-repeat bottom right fixed;
    background-color: #D0ECE7;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;  
}

.about{
    background-color: rgba(60, 60, 60, 0.699);
}

.about h1{
    color: #ffffff;
    text-shadow: 4px 4px #640E27;
}

.text{
    color: #ffffff;
    font-size: 25px;
    line-height: 2.5rem;
    text-shadow: 1px 1px #640E27;
    
}

.about p a{
    color: #41bda4;
}

/*-------------------------Media Queries*/
@media only screen and (max-width: 768px) {
    #about-us{
        height: 100%;
    }

}

@media only screen and (max-width: 375px) {
    .card-body {
        width: auto;
    }
}

@media only screen and (max-width: 320px) {
    .navbar-brand {
        font-size: 12px;
    }

    .callout-text {
        font-size: 10vw;
    }
}

@media only screen and (max-width: 1024px) {
    #contact {
        height: 89vh;
    }
}


@media only screen and (max-width: 414px) {
    .info-card {
        align-items: center;
        margin: 0;
        float: none;
    }

    .card-title-info {
        font-size: 20px;
    }

    .list-group-item-info {
        padding-left: 0;
        font-size: 16px;
    }
    
    .content {
        margin-top: 0;
        font-size: 14px;
    }

    #contact {
        height: 100%;
    }

    .company-info {
        text-align: center;
        float: none;
    }

    .personal-info {
        text-align: center;
        float: none;
    }

    .form-group {
        margin-top: 1rem;
    }

    .carousel-indicators {
        display: none;
    }
    
    #panel {
        display: none;
    }
}

@media only screen and (max-width: 414px) and (orientation: landscape) {
    #panel {
        display: block;
    }

    .card-title-info {
        font-size: 20px;
    }

    .list-group-item-info {
        padding-left: 0;
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) {
    .info-card {
        width: 16rem;
        margin-left: 2.5rem;
        
    }

    .card-title-info {
        font-size: 18px;
    }
    .list-group-item-info {
        font-size: 18px;
    }

    .list-group-item-info {
        padding-left: 0;
    }

    aside {
        width: 40%;
        align-content: center;
    }

    aside p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1024px) {
    .card-title-info {
        font-size: 18px;
    }
    .list-group-item-info {
        font-size: 18px;
    }
    aside {
        width: 50%;
    }

    aside p {
        font-size: 25px;
    }

    #about-us {
        height: 100%;
    }

    .about h1 {
        margin-top: 1rem;
    }

    .text {
        font-size: 35px;
        line-height: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    .location-options-group {
        flex-direction: column;
        align-items: center;
    }

    .location-card {
        width: 100%;
        margin-bottom: 20px;
        
    }

    .info-card{
        margin-left: 0;
    }

    .card-title-info {
        font-size: 20px;
    }

    .list-group-item-info {
        padding-left: 0;
        font-size: 16px;
    }

    
    #pac-input {
        width: 200px;
    }
}

@media only screen and (max-width: 540px) and (min-width: 500px) {
    .form-group {
        margin-top: 1rem;
    }

    .company-info {
        text-align: center;
        float: none;
    }

    .personal-info {
        text-align: center;
        float: none;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .info-card {
        margin-left: 1.5rem;
    }

    .card-title-info {
        font-size: 20px;
    }

    .list-group-item-info {
        font-size: 16px;
        padding-left: 0;
    }
}

@media only screen and (max-width: 280px) {
    .block-divider {
        width: auto;
    }
}