@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
/*--------------------------General*/
body{
    background-color: #D0ECE7;
}

.general-sub{
    font-family: "Rock Salt", sans-serif;
}

p{
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 20px;
}

.title{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #640e27;
    text-shadow: 2px 2px #0B5345;
}
/*--------------------------Nav*/
.navbar-brand{
    font-family: "Rock Salt", sans-serif;
    font-size: 14px;
}

.nav-item{
    font-family: "Coromorant Garamond", sans-serif;
}

.bg-color{
    background-color: #0B5345; 
}

/*----------------------Carousels*/
img{
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    object-fit: cover;
}

.container{
    position: relative;
    text-align: center;
    color: #ffffff;
    font-family: "Rock Salt", sans-serif;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 15%;
}

.carousel-caption {
    position: absolute;
    font-size: 60px;
    font-family: "Rock Salt", sans-serif;
    right: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
}
/*-------------------------Cards*/
.hungary-card{
    background-color: #D0ECE7;
    border: none;
}

.card-title{
    font-family: "Rock Salt", sans-serif;
    color: #640e27;
}

.card-img-hungary{
    width: 100%;
    height: 100%;
}

.card-body{
    width: max-content;
}

.list-group .list-group-item{
    background-color: #D0ECE7;
    font-family: "Coromorant Garamond", sans-serif;
    color: #640E27;
}

.budapest-card{
    width: 25rem;
    height: 10rem;
    background-color: #640e27;
    color: #D0ECE7;
    border-radius: .3rem;
    margin-right: 15px;
}

.card-title-budapest{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    text-decoration: underline;
    font-family: "Coromorant Garamond", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.list-group-item-budapest{
    background-color: #640e27;
    color: #D0ECE7;
    list-style-type: none;
    font-family: "Coromorant Garamond", sans-serif;
    font-size: 14px;
    margin-top: 2px;
    margin-left: 50px;
}

.fa-check{
    color: #D0ECE7;
    font-size: 16px;
}

/*-------------------------Maps*/
#mapDestinations{
    min-height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342);
    border: 1px solid #0B5345;
}

#mapBudapest{
    min-height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342);
}

#mapKeszthely{
    min-height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342);
}

#mapSiofok{
   min-height: 400px;
   margin-bottom: 20px;
   box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342); 
}

#mapPecs{
    min-height: 400px;
    margin-bottom: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.342);
}

/*---------------------Tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background: black;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*---------------------Dropdown Menus*/
.dropdown{
    position: relative;
    display: inline-block;
    border-radius: .3rem;
    font-family: "Coromorant Garamond", sans-serif;
}

.btn:hover{
    color: #808080;
}

.btn, .btn-color{
    background-color: #640E27;
    color: #D0ECE7;
}

.btn, .btn-color .dropdown-toggle:active{
    background-color: #640E27;
    color: #fafafa;
}

.dropdown-menu{
    background-color: #D0ECE7;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #640E27;
    width: 250px;
}

.dropdown-item{
    color: #640E27;
}

.dropdown-item a:active{
    background-color: #640E27;
    color: #fafafa;
}

.dropdown-item a:hover{
    background-color: #0B5345;

}

/*------------------Footer*/

footer{
    background-color: #0B5345;
    color: #fafafa;
    margin: 0;
    min-height: 100px;   
    padding: 20px; 
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
}

/*-------------------------Budapest-Page*/
#budapest{
    margin-bottom: 25px;
}

/*-------------------------Contact-Page*/
#contact{
    background: url("../images/contact-pg-image/contact-pg-img.jpg") no-repeat bottom right fixed;
    background-color: #D0ECE7;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa .fa-envelope{
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 25px;
    background-color: #0B5345;
}

.form-group{
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
    right: 10px;
}

.text-input{
    color: #0B5345;
    width: 100%;
    height: 50px;
    margin: 5px;
    border: 2px solid #0B5345;
    border-radius: 2px;
}

.send-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 5px 10px;
    text-align: center;
    font-size: 20px;
    background-color: #0B5345;
    color: #ffffff;
}

/*--------------------About Page*/
#about-us{
    background: url("../images/about-pg-image/about-pg-img.jpg") no-repeat bottom right fixed;
    background-color: #D0ECE7;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;  
    
}

.about{
    background-color: rgba(60, 60, 60, 0.699);
}

.about h1{
    color: #a11640;
    text-shadow: 2px 2px #fafafa;
}

.text{
    color: #ffffff;
    font-size: 25px;
    line-height: 2.5rem;
    
}

.about p a{
    color: #41bda4;
}

@media only screen and (max-width: 768px) {
    #about-us{
        height: 100%;
    }
}
